.DS_Store

/_resources_master
/elyse_workflow.html
/_resources_master/*
/.vscode
/backend/.venv
/backend/__pycache__
/app_docs
/data/
/backend/data/*
/backend/prompts/*
/llama-index-docs
uv.lock
*.pyc
__pycache__/*
/backend/.venv/*
/backend/.vscode/*
/backend/.env
/backend/.env.local
lib/*
